streamlit==1.33.0
pandas==2.2.2
requests==2.31.0
beautifulsoup4==4.12.3
lxml==5.2.1
loguru==0.7.2
pydantic==2.7.1
pydantic-settings==2.2.1
tenacity==8.2.3
python-dateutil==2.9.0
python-dotenv==1.0.1
fake-useragent==1.5.1
